<div class="ui form container ">
        <div class="ui   segment">
    <%if current_user.has_role? :Administrador%>           
          <div class="ui header">
               Cambiar contraseña del usuario del usuario <%=@user.name%> <%=@user.lastname%>
               <%= notice %>
          </div>
          <form action="/user/<%=@user.id%>/update_password" method="post">
            <div class=" field">
                <div class="field">
                  <label>Contraseña</label>
                  <i>(Debe tener una letra en mayuscula, minuscula, nuemro y caracter especial. Tamaño minimo 6)</i>
                  <input type="password" name="user[password]" placeholder="Contraseña" required>
                </div>
            </div>
            <div class=" field">    
                <div class="field">
                  <label>Confirmaticion de contraseña</label>
                  <br>
                  <input name="user[password_confirmation]" placeholder="Confirmacion de contraseña" type="password" required>
                </div> 
              </div>   
            
                                                       
            <div class="ui center aligned basic segment">
              <button type="input" class="ui green button"><i class="ui add icon"></i>Crear usuario</button>
            </div>
            <br> 
          </form>
            <%else%>
              <h1>No deberias estar aqui</h1>   
            <%end%>
        </div>
      </div>

<br>
<br>