<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="ui message">
      <div class="header">
        Remitente :<%= @usuario %>
        <br>
        Asunto :<%= @asunto %>
      </div>
      <div class="ui divider"></div>
       Mensaje:<br>
       <%= @mensaje %>
       <br>
       responder a : <br>
       <%= @email %>
    </div>
  </body>
</html>
